#main-heading{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container{
    display: grid;
    grid-template-columns: 400px 350px 350px;
    /* background-color: ; */
    column-gap: 100px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
    
}
#todo-Input , #todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
.todo-delete {

    background-color: rgb(87 ,4 ,4);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 0px;
    cursor: pointer;
}
.button-todo {

    background-color:rgb(6, 216, 6);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 0px;
    cursor: pointer;
}